<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">
    <h2>Trakto</h2>
    <span><strong>Olá, faça login em sua conta</strong></span>
    <br>
    <form fxLayoutAlign="stretch" fxLayout="column">
      <mat-label>E-mail</mat-label>
      <mat-form-field>
        <input matInput placeholder="E-mail">
      </mat-form-field>
    
      <mat-label>Senha</mat-label>
      <mat-form-field>
        <input matInput type="password" placeholder="Senha">
      </mat-form-field>
      <button mat-raised-button color="primary">Login</button>
    </form>
    
  </mat-card>
</div>